:root {
    --gallaryColor: rgb(178, 159, 110);
}

html, body {
    margin: 0px;
    height: 100%;
    background-color: rgb(39, 73, 123);
    color: black;
    font-family: monospace;
    font-size: 18px;
}

#controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    z-index: 1;
}

#canvasContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}   

#c {
    width: 100vw;
    aspect-ratio: 64 / 8;
}

#gallary {
    background-color: var(--gallaryColor);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
    padding: 8px;
    position: absolute;
    top: calc(50% + (100vw / 16));
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

#gallary img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
    box-sizing: border-box;
}

img:hover {
    border: 3px solid var(--gallaryColor);
}

